*.pyc
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

/rev/version.py
/rev/_init_rev.py
/rev/include
/rev/lib
/rev/rpy-include
/rev/pkgcfg.py

/rev/_sparkmaxdriver/_init_rev_spark_driver.py
/rev/_sparkmaxdriver/include
/rev/_sparkmaxdriver/lib
/rev/_sparkmaxdriver/rpy-include
/rev/_sparkmaxdriver/pkgcfg.py


*.dylib
*.dll

rev/rpy-include