*.pyc
*.so
__pycache__

.project
.pydevproject
.vscode

*.egg-info
build
dist

rev/version.py
rev/_impl/autogen


docs/_build
docs/_sidebar.rst.inc

rev/include
rev/lib
rev/_init_rev.py
rev/pkgcfg.py

*.dylib
*.dll